@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root{
    --bg-1: rgb(151, 189, 254);
    --bg-2: rgb(252, 245, 215);
    --bg-3: rgb(134, 138, 241);
    --accent-1: rgb(127, 225, 244);
    --my-font: "Sour Gummy";
}

@keyframes textWave{
    0%{
      transform: translateY(0px);
    }
    100%{
      transform: translateY(10px);
    }
}

.bg-1{
    background-color: var(--bg-1);
}

.bg-3{
    background-color: var(--bg-3);
}

#navigation{
    background-color: var(--accent-1);
}

.dropdown-menu{
    min-width: 100px !important;
}

.body{
    font-family: "Kunbh Sans", sans-serif;
    color: #2b2e3e;
}

body a {
    text-decoration: none;
}

.content {
    background-color: var(--bg-2);
}

.animated_text{
    background-color: white;
    color: var(--accent-1);
    text-transform: uppercase;
    font-family: var(--my-font), sans-serif;
}

.animated_text span{
    display: inline-block;
    animation-name: textWave;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @media screen and (max-width: 767px){
    .left{
        flex-direction: column;
    }
    .dropdown-menu{
        min-width: 75px !important;
    }
}